[MASTER]
ignore=CVS
jobs=1
load-plugins=pylint.extensions.mccabe,pylint.extensions.docparams,pylint.extensions.bad_builtin

[MESSAGES CONTROL]
disable=
    C0111,  # Missing docstring
    C0103,  # Variable name doesn't conform to snake_case naming style
    R0903,  # Too few public methods

[REPORTS]
output-format=colorized

[FORMAT]
max-line-length=80
indent-string='    '

[DESIGN]
max-args=4
max-attributes=8
max-locals=10
max-returns=4
max-branches=8
max-statements=40
max-parents=5
max-public-methods=15

[IMPORTS]
known-standard-library=collections,datetime,functools,heapq,itertools,json,math,os,re,sys,time
known-third-party=numpy,pandas,tensorflow,transformers

[VARIABLES]
dummy-variables-rgx=_|dummy

[TYPECHECK]
generated-members=numpy.*,pandas.*,tensorflow.*,transformers.*
